{% load bootstrap4 %}
<!-- Footer -->
<style>
    footer {
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        margin-top: 80px;
    }
</style>
<footer class="page-footer font-small pt-2"
    style="background-color:56351E;color: white;font-family:Arial, Helvetica, sans-serif">
    <div class="footer-copyright text-center py-2">© 2021 <span style='color:white; font-weight:bold;'>HOODS</span>
        <span style="color: white;"> | All Rights Reserved</span>
    </div>

</footer>
<!-- Footer -->