{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css2?family=Vollkorn&display=swap" rel="stylesheet">
  {%if title%}

  <title>{{title}}</title>

  {%endif%}

  {% block styles %}
    {% bootstrap_css %}
  {% endblock %}
  <style>
    body{
      font-family: 'Vollkorn', serif;
      height:100vh;
    }
    .btn{
        background-color: #C47335;
        color:white;
        border:none;
    }
    .btn:hover{
        background-color:  #F19953;
    }
    a{
        text-decoration: none;
        color:#C47335;
    }
    a:hover{
        color:  #F19953;
    }
    .col-md-7{
      margin-top:20vh;
    }
</style>
</head>

<body>

  {% block content %}  {%endblock%}


  {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %}
  {% endblock %}

</body>

</html>